@charset "UTF-8";

.bells.hide {
	display:none;
}
.bells {
	width: 300px;
	height:400px;
	overflow-y:auto;
	border: 1px solid #ddd;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bells button:hover {
	background-color: #ddd;
	color:#444;
}
.bells button:active {
	background-color: #aaa;
	color:#000;
}

.bell span {
	font-size: 15px;
	color: black;
}
.bell>div:nth-child(1) span {
	width:100%;
}
.bell>div:nth-child(2) span {
	color:#999;		
}
.bell:nth-child(1){
	margin-top: 5px;
}
.bells>div.hide{
	display: none;
}
.bell>div{
	padding: 0 10px;
}
.bell{
	flex:1;
	
}
.bells>div {
	width: 100%;
	display: flex;
	justify-content:space-between;
	align-items: center;
	border-bottom: 1px solid #f5f1f1;
	cursor: pointer;
}

.bells>div:hover{
  background-color: rgb(194, 232, 198);
}
.bells>div:active{
  background-color: rgb(194, 232, 138);
}
.bells:nth-child(1){
	cursor: default;
}
.bells:nth-child(1):hover{
	background-color: none;
}
.bells:nth-child(1):active{
	background-color: none;
}
.bellstxt {
	width: 100%;
	height: 50px;
	background-color: rgb(215, 239, 177);
	display: flex;
	align-items: center;
	border-radius: 10px 10px 0px 0px;
}


.bellstxt h3 {
	margin-left: 10px;
}

.bells>div>button {
	border: none;
	color: gray;
	background:none;
	margin-top: 5px;
	border-radius: 50%;
	padding: 10px;
	font-size: 24px;
}