@charset "UTF-8";
.board-info-box .propiltxtimg {
	width:100%;
}
.board-info-box td {
	height:20px;
}
.board-info-box .propiltxtimg img {
	width:100%;
	object-fit:contain;
}
.board-info-box .lifethelook {
	width: 83%;
}
.board-info-box #propilimg{
	height:50px;
	width:50px;
	overflow:hidden;
	border-radius:50%;
}
.board-info-box #propilimg img{
	height:50px;
	width:50px;
	object-fit:cover;
}
.board-info-box .titlebox {
	width: 100%;
	height: 30px;
	color: #ddd;
}

.board-info-box .lifethelooktxt {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content:center;
}

.board-info-box .besttexts {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.board-info-box .besttexts>a {
	margin-top: 15px;
	text-decoration: none;
	color: grey;
	font-size: 17px;
}

.board-info-box .pepoletxts {
	width: 100%;
	height: 100%;
	display: flex;
	padding: 20px;
	flex-direction: column;
}

.board-info-box .txtcald {
	width: 99%;
	height: 160px;
	display: flex;
	margin-top: 10px;
	border-radius: 5px;
	margin-left: 5px;
	transition: 0.board-info-box .3;
}

.board-info-box .txtcald:hover {
	border: 1px solid #ddd;
}

.board-info-box .txtbox {
	flex: 8;
}

.board-info-box .imgbox {
	flex: 1.board-info-box .5;
}


.board-info-box .propil {
	width: 100%;
	height: 100%;
}

.board-info-box .propil button:active {
	opacity: 0.5;
}
.board-info-box .propil button:hover {
	opacity: 0.7;
}
.board-info-box .propil button {
	color: white;
	background-color: #5FCC29;
	border: none;
	border-radius: 20px;
	font-size: 14px;
	padding: 4px 10px;
	margin-left : 4px;
}
.board-info-box .iconbox button {
	background-color: skyblue;
}

#propilimg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.board-info-box .saletxx p, .board-info-box .bestitem p {
	overflow: hidden;
	display: -webkit-box;
	line-clamp: 1;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	word-break: break-word;
	max-height: 3.2em;
	margin-left: 5px;
}
.board-info-box .propiltxt {
	width: 100%;
}
.board-info-box button{cursor: pointer;}
.board-info-box{
	display:flex;
	flex-direction: column;
	align-items:center;
}

.board-info-box td {
	padding: 0px;
}
.board-info-box .propiltxtimg {
	width: 100%;
}

.board-info-box .bestpoodimg {
	width: 100%;
}

.board-info-box .likeandtxtbox {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
}

.board-info-box .iconbox {
	width: 180px;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
} 
.board-info-box .container:hover input ~ .checkmark {
	background-color: #ccc;
}

.board-info-box .container input:checked ~ .checkmark {
	background-color: #2cd319;
}
.board-info-box .iconbox>p {
	margin-left: 10px;
}

.board-info-box .inquiry {
	width: 100px;
	height: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
}

.board-info-box .inquiry>p {
	font-size: 15px;
	color: #aca9a9;
}

.board-info-box .comments {
	width: 100%;
	margin-top: 10px;
}

.board-info-box .latestranking {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	border-top: 1px solid #ddd;
}

.board-info-box .comments-txt {
	width: 96%;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
}
.board-info-box .btn-boxs{
	margin:-5px 10px;
}
.board-info-box .comments-txt>div {
	width: 98%;
	padding: 10px;
}

.board-info-box .comments-txt p {
	margin-left: 10px;
}

a {
	text-decoration: none;
	font-size: 15px;
	margin-left: 10px;
}

.board-info-box .bestcomments {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
	border-top: 1px solid #ddd;
}

.board-info-box .writingout {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

#write {
	width: 80%;
	height: 28px;
	border-radius: 15px;
	margin: 15px;
	border: 1px solid rgb(184, 179, 179);
}

.board-info-box .writingout button {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #5FCC29;
}
.board-info-box .writingout button:hover {
	opacity: 0.7;
}
.board-info-box .writingout button:active {
	opacity: 0.5;
}
/* The container */
.board-info-box .container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 17px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.board-info-box .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.board-info-box .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

.board-info-box .container:hover input ~ .board-info-box .checkmark {
	background-color: #ccc;
}

.board-info-box .container input:checked ~ .board-info-box .checkmark {
	background-color: #2cd319;
}
.board-info-box .container:hover input ~ .checkmark {
	background-color: #5FCC29;
	opacity: 0.7;
}
.board-info-box .container:active input ~ .checkmark {
	background-color: #5FCC29;
	opacity: 0.5;
}
.board-info-box .checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

.board-info-box .container input:checked ~ .checkmark:after {
	display: block;
}

.board-info-box .container .board-info-box .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.board-info-box textarea{
	width:100%;
	height:60px;
	margin: 0 10px;
	resize: none;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.board-info-box #updateC textarea{
	width:93%;
	margin: 0;
}
.board-info-box #updateC button{
	margin-left: 10%;
}

#btn-like-submit{
	cursor: pointer;
}



.user-profile-container {
	width: 100%;
	height: 90px;
	display: flex;
	align-items: center;
}

.user-profile-inner-container {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-profile-section1 {
	display: flex;
	align-items: center;
	gap: 10px;
	flex: 1;
	margin-top: 0px;
}

.user-profile-section1 img {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	object-fit: cover;
}
.user-profile-section1 .comment-img {
	border-radius: 50%;
	width: 50px;
	height:50px;
	object-fit: cover;
	margin-right:-10px;
}

.user-profile-text-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user-profile-nickname {
	font-weight: bold;
	font-size: 20px;
	margin: 0;
}

.user-profile-dong {
	font-size: 16px;
}

.user-profile-section2 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex: 0 0 auto;
	margin-top: 0px;
}

.user-profile-inner-section {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.user-profile-inner-box1 {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-right: 6px;
}

.user-profile-deg {
	font-size: 20px;
	font-weight: bold;
	color: orange;
}

.user-profile-emoji {
	font-size: 22px;
}

.user-profile-inner-box2 progress {
	width: 60px;
	height: 8px;
	appearance: none;
	margin: 4px 0;
	margin-right: 12px;
}

progress::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 4px;
}

progress::-webkit-progress-value {
	background-color: orange;
	border-radius: 4px;
}

.ondo-label {
	font-size: 14px;
	color: gray;
	margin: 0;
	margin-right: 5px;
}

.board-info-box form button{
	border:none;
	width:80%;
	font-size:18px;
	padding:10px;
	color:white;
	background-color:#5FCC29;
	border-radius:10px; 
}
.board-info-box form button:hover{
	opacity: 0.7;
}
.board-info-box form button:active{
	opacity: 0.5;
}
.besttexts hr{
	border: 1px solid #f8f2f2;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: -2px;
  border-radius: 30px 30px 0px 0px;
  border: 1px solid #ddd;
  background-color: white;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
}

.closebtn {
  font-size: 25px;
  margin-right: 20px;
}

.overlay-content {
  position: relative;
  width: 100%;
  margin-top: 30px;
  flex-grow: 1;
}

.category-header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.category-header h3 {
  margin: 20px;
  font-size: 25px;
}

.categorymain {
  flex-grow: 1;
  min-height: 100px;
  overflow: auto;
  border-bottom: 1px solid #ddd;
}

.local,
.menue,
.price,
.filter {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

.local {
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
  display: flex;
}

.menue {
  height: 500px;
  height: auto;
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
  display: flex;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  border-bottom: 1px solid #ddd;
}

.pricebutton button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #9c9898;
  color: #525151;
  margin: 5px;
}

.pricebutton {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.pricewrite {
  width: 550px;
  height: 100px;
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.pricewrite input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.categoryfooter {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.categoryfooter .heze {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #ddd;
  font-size: 15px;
  color: #525151;
}

.categoryfooter .application {
  width: 60%;
  height: 40px;
  border-radius: 4px;
  margin-left: 5px;
  font-size: 15px;
  color: white;
}

.gakuck {
  width: 100%;
  text-align: start;
}

.btn-action-filter{
  width: 100px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background: #5fcc29;
}

.btn-action-filter:hover {
  opacity: 0.7;
}

.btn-action-filter:active {
  opacity: 0.5;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  width: calc(100% / 3 - 5px * 2);
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background: #5fcc29;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.categoryfooter {
  width: 100%;
  height: 100px;
  display: flex;

  justify-content: center;
  align-items: center;
}
.categoryfooter .heze {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #ddd;
  font-size: 15px;
  color: #525151;
}
.categoryfooter .application {
  width: 60%;
  height: 40px;
  border-radius: 4px;
  margin-left: 5px;
  font-size: 15px;
  color: white;
}
.title {
  width: 100%;
}

/**/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 100;
  bottom: -2px;
  border-radius: 30px 30px 0px 0px;
  border: 1px solid #ddd;
  background-color: white;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
.overlay::-webkit-scrollbar{
	display:none;
}

.closebtn {
  font-size: 25px;
  margin-right: 20px;
}

.overlay-content {
  position: relative;
  width: 100%;
  margin-top: 30px;
  flex-grow: 1;
}

.category-header.show {
  display: flex;
  opacity: 1;
}
.category-header button.closebtn:active{
	opacity: #aaa;
}
.category-header button.closebtn:hover{
	opacity: #ddd;
}
.category-header button.closebtn{
	border: none;
	border-radius: 50%;
	width:35px;
	height:35px;
	background-color:white;
}
.category-header.show.fix {
	position:fixed;
	top:80px;
}
.category-header {
  position:relative;
  width: 100%;
  height: 70px;
  display: none;
  opacity: 0;
  transition: 0.3s easy-in;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  border-radius: 20px 20px 0 0;
  border-bottom: 1px solid #ddd;
  background-color: white; 
  z-index: 999;
}

.category-header h3 {
  margin: 20px;
  font-size: 25px;
}

.categorymain {
  flex-grow: 1;
  min-height: 100px;
  overflow: auto;
  border-bottom: 1px solid #ddd;
}

.local,
.menue,
.price,
.filter,
.order-by {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

.local {
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}
.order-by {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  margin-bottom : 60px;
}

.menue {
  height: 500px;
  height: auto;
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
  display: flex;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  border-bottom: 1px solid #ddd;
}

.pricebutton button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #9c9898;
  color: #525151;
  margin: 5px;
}

.pricebutton {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.pricewrite {
  width: 100%;
  margin-top: -15px;
  font-size: 25px;
}

.pricewrite input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.categoryfooter.fix {
	position:fixed;
	bottom:0px;
}
.categoryfooter {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  background-color:white;
}

.categoryfooter .heze {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #ddd;
  font-size: 15px;
  color: #525151;
}

.categoryfooter .application {
  width: 60%;
  height: 40px;
  border-radius: 4px;
  margin-left: 5px;
  font-size: 15px;
  color: white;
}

.gakuck {
  width: 100%;
  text-align: start;
}

.btn-action-filter{
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: none;
  display:none;
  background: #5fcc29;
}

.btn-action-filter:hover {
  opacity: 0.7;
}

.btn-action-filter:active {
  opacity: 0.5;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  flex:1;
  min-width: 190px;
  max-width: 190px;
}
#mySidenav span{
	font-size: 16px;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container input:checked ~ .checkmark {
  background: #5fcc29;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}
.container:hover input ~ .checkmark {
	background-color: #5FCC29;
	opacity: 0.7;
}
.container:active input ~ .checkmark {
	background-color: #5FCC29;
	opacity: 0.5;
}
.container input:checked ~ .checkmark {
	background-color: #2cd319;
}
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.categoryfooter {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryfooter .heze {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #ddd;
  font-size: 15px;
  color: #525151;
}
.categoryfooter .application:active {
	opacity: 0.5;
}
.categoryfooter .application:hover {
	opacity: 0.7;
}
.categoryfooter .application {
  width: 60%;
  height: 40px;
  border-radius: 8px;
  margin-left: 5px;
  font-size: 15px;
  color: white;
  border:none;
  background-color: #5FCC29;
}
.title {
  width: 100%;
}
.chang button{
	padding: 14px;
}
