@charset "UTF-8";

/* 검은색배경으로 버튼반전 */
body,
.chang,
.chang button,
input,
textarea,
select,
.imgbtn>button,
.rsbtn,
.loading-main,
.meetinglocalbtns button,
.user-mypage-box .menulist .menulistbtn button,
.modal-content,
header,
#mySidenav button,
#myNav,
#myNav .category-header,
#myNav .category-header button,
#myNav .categoryfooter
{
    background-color: #000000 !important;
    color: #F1F1F1 !important;
}
/* 흰색 테두리 전환 */
.rsbtn,
.imguplod button,
.meetinglocalbtns button,
.user-mypage-box .myprofil,
.user-mypage-box .fc-view-container thead,
.modal-content,
.insert input,
.insert select,
.user-mypage-box .menu .menulistbtn .list-btn,
input#item_price,
.insert #post-list
 {
    border:1px solid #F1F1F1 !important;
}

/* 흰색 글자 전환 */
.bells>div *,
.gnb-category a,
.item-name,
.item-price,
.user-profile-section1 a,
.text a,
.meet-list-box .txtbox>span,
.user-mypage-box .cartegory .btn-inner-box span,
.user-mypage-box .cartegory .fa-home,
.user-mypage-box .cartegory .fa-user,
.user-mypage-box .letter-list-box .mail *,
.user-mypage-box .fc-view-container *,
.user-mypage-box .review-content tbody tr:nth-child(1) td:nth-child(2) span:nth-child(1),
.user-mypage-box .review-content .review-content-box,
header .search-box #btn-search-close,
.letter-info-box .title h5,
.meet-join-list-box td,
#mySidenav .fa-home,
#mySidenav .fa-user
{
    color: #F1F1F1 !important;
}
/* 검은색배경 전환 */
#show-alarm-div,
.child,
.user-mypage-box .myprofil,
.user-mypage-box .cartegory .tablinks,
header .search-box #btn-search-close,
#mySidenav
{
	background-color: #000000 !important;
}
/* 검은버튼 호버 */
.chang button:hover,
.bells>*:hover,
.user-mypage-box .cartegory .tablinks:hover,
header .search-box #btn-search-close:hover,
header #show-search-box:hover,
#mySidenav button:hover{
    background-color: #444 !important;
}

/* 검은버튼 액티브 */
.chang button:active,
.bells>*:active,
.user-mypage-box .cartegory .tablinks:active,
header .search-box #btn-search-close:active,
header #show-search-box:acitve,
#mySidenav button:active{
    background-color: #999 !important;
}

.user-mypage-box .board-list-box .txtbox span{
	 color: #aaa !important;
}
.bells>*:nth-child(1){
	cursor:default !important;
}
.bells>*:nth-child(1):hover, .bells>*:nth-child(1):active{
	background-color: #222 !important;
}


/* 흰색배경으로 버튼반전 */
.search button,
.linkbtn a,
.user-mypage-box .cartegory .tablinks.clicked,
.user-mypage-box .cartegory .tablinks.clicked .fa-home,
.user-mypage-box .cartegory .tablinks.clicked .fa-user
{
	background-color: #F1F1F1 !important;
	color: #000 !important;
}
/* 검은색 글자 전환 */
.search button *,
.user-mypage-box .cartegory .tablinks.clicked span,
.user-mypage-box .fc-view-container .fc-content,
.user-mypage-box .fc-view-container .fc-content span,
.user-mypage-box .letter-list-box .mail:hover *,
.user-mypage-box .fc-view-container .fc-state-highlight>*,
.review-insert-box .lettertxt h2,
.review-insert-box .user-profile-section1 a,
.letter-info-box .user-profile-section1 a,
.letter-info-box .propile h2,
.meet-join-list-box .meeting:hover td
{
    color: #000 !important;
}
/* 흰색배경 전환 */
.user-mypage-box .fc-view-container .fc-content span,
.user-mypage-box .fc-view-container .fc-content,
.user-mypage-box .menu .menulistbtn .list-btn{
	background-color: #5FCC29 !important;
}
.user-mypage-box .fc-view-container .fc-content:hover,
.user-mypage-box .menu .menulistbtn .list-btn:hover{
	opacity: 0.7 !important;
}
.user-mypage-box .fc-view-container .fc-content:active,
.user-mypage-box .menu .menulistbtn .list-btn:active{
	opacity: 0.5 !important;
}
/* 흰버튼 호버 */
.search:nth-child(3):hover,
.linkbtn a:hover{
    background-color: #ccc !important;
}

/* 흰버튼 액티브 */
.search:nth-child(3):active,
.linkbtn a:active{
    background-color: #999 !important;
}

/* 모달 */
.bells>*{
	background-color: #222 !important;
    color: #F1F1F1 !important;
}


header .search-box #btn-search-close i,
header #show-search-box i{
	color:#F1F1F1 !important;
}
