@charset "UTF-8";

.item-list-box {
	width: 100%;
	display: flex;
	justify-content: center;
}

.item-list-box .transaction {
	width: 83%;
}

.item-list-box .homt-transaction-txt {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.item-list-box form input[type=number]{
	border-radius: 8px;
	height:30px;
	border: 1px solid #ddd;
	margin-bottom:5px;
}
.filter-label {
	height: 40px;
	line-height:50px;
	font-size: 18px;
	font-weight: bold;
}
.item-list-box form button{
	border:none;
	width:80%;
	font-size:18px;
	padding:10px;
	color:white;
	background-color:#5FCC29;
	border-radius:10px; 
}
.item-list-box form button:hover{
	opacity: 0.7;
}
.item-list-box form button:active{
	opacity: 0.5;
}
.item-list-box .categoryandproduct {
	width: 100%;
	display: flex;
}

.item-list-box .category {
	width: 290px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.item-list-box .local {
	width: 100%;
	margin-left: 5px;
}

.item-list-box .categorys {
	width: 100%;
	height: 300px;
	margin-left: 5px;
}

.item-list-box .product {
	width: 100%;
	flex-direction: column;
	margin-left: 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 10px; /* 안쪽 여백 추가 */
}

.item-list-box .price {
	width: 90%;
	height: 400px;
	display: flex;
	flex-direction: column;
}

.item-list-box .salesstatus {
	width: 100%;
	height: 400px;
	margin-left: 5px;
}

.item-list-box .money {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 5px;
}

.item-list-box .proce-input {
	width: 100%;
	height: 80px;
	margin-left: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-list-box .price-mbtn {
	width: 100%;
	text-align: center;
}

.item-list-box .price-mbtn .mbtn {
	background-color: #5FCC29;
	border: none;
	color: rgb(244, 237, 237);
}

.item-list-box .cash {
	width: 110px;
	height: 30px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.item-list-box button {
	width: 100px;
	height: 40px;
	margin: 5px;
}

.item-list-box p {
	font-size: 15px;
	font-weight: 400;
}

.item-list-box .more-btn {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
}

.item-list-box .more-btn> .more {
	margin-right: 30px;
	border: none;
	font-size: 20px;
	background-color: white;
	color: black;
}

.item-list-box .mbtn {
	width: inherit;
	border-radius: 15px;
	border: 1px solid #ddd;
	background-color: white;
	color: gray;
}

.item-list-box .product-child {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	column-gap: 1%;
	align-items: stretch; /* 높이 균일하게 조정 */
}

.item-list-box .child {
	flex:1;
	min-width:23.5%;
	max-width:23.5%;
	height: 350px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	overflow: hidden;
	background: #fff;
	cursor: pointer;
	margin: 0px 3px;
}
.item-list-box .bought-box{
	flex:1;
	min-width:23.5%;
	max-width:23.5%;
	height: 350px;
	margin-bottom: 50px;
}
.item-list-box .bought-box .child {
	min-width:100% !important;
	max-width:100% !important;
	height: 350px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	overflow: hidden;
	background: #fff;
	cursor: pointer;
	margin: 0px 3px;
}

.item-list-box .child .itemimg {
	width: 100%;
	height: 210px;
	overflow: hidden; /* 이미지가 밖으로 나가지 않도록 */
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-list-box .child .itemimg img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* 이미지가 박스를 꽉 채우도록 설정 */
	transition: transform 0.3s ease-in-out; /* 부드러운 확대 효과 */
}

.item-list-box .child:hover img {
	transform: scale(1.2); /* 마우스를 올리면 1.item-list-box .2배 확대 */
}

.item-list-box .child .itemtxt {
	width: 100%;
	height: 140px;
	line-height: 10px;
	color: black;
}

.item-list-box .child .itemtxt>h5 {
	margin-left: 5px;
	font-size: 20px;
}

.item-list-box .child .itemtxt>p {
	font-size: 18px;
	height:18px;
	overflow: hidden;
	display: -webkit-box;
	line-clamp: 1;
	line-height:18px;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	word-break: break-word;
	max-height: 3.2em;
}

.item-list-box hr {
	border: 1px solid #f8f2f2;
}

.item-list-box .locallifetxt {
	width: 100%;
}
.locallifetxt>p{
	margin:0;
}

.item-list-box .lbtns {
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.item-list-box .lbtns button {
	width: 150px;
	height: 40px;
	border-radius: 15px;
	background-color: #5FCC29;
	border: none;
	color: white;
}

.item-list-box #headerBtn {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 70px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: rgb(154, 150, 150);
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
	border-radius: 50%;
}
.item-list-box #headerBtn:hover {
	opacity: 0.7;
}
.item-list-box #headerBtn:active {
	opacity: 0.5;
}
.item-list-box #myBtn:hover {
	opacity: 0.7;
}
.item-list-box #myBtn:active {
	opacity: 0.5;
}
.item-list-box #myBtn {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 10px; /* Top 버튼 위로 이동 */
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 50%;
	background-color: #5FCC29;
}
.item-list-box #myBtn:hover {
	opacity: 0.7;
}
.item-list-box #myBtn:active {
	opacity: 0.5;
}

.item-list-box form {
	width:170px;
}
.item-list-box .container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 17px;
	width:130px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.item-list-box .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.item-list-box .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

.item-list-box .container:hover input ~ .checkmark {
	background-color: #5FCC29;
	opacity: 0.7;
}
.item-list-box .container:active input ~ .checkmark {
	background-color: #5FCC29;
	opacity: 0.5;
}

.item-list-box .container input:checked ~ .checkmark {
	background-color: #2cd319;
}

.item-list-box .checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

.item-list-box .container input:checked ~ .checkmark:after {
	display: block;
}

.item-list-box .container .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.item-list-box .addbtn {
	padding: 0 30px;
	margin-top : 20px;
	border-radius: 30px;
	width:100%;
	height: 50px;
	font-size: 35px;
	border: none;
	background-color: #5FCC29;
}
.item-list-box .addbtn:hover {
	opacity: 0.7;
}
.item-list-box .addbtn:active {
	opacity: 0.5;
}

@media(min-width:1280px){
	.item-list-box #myBtn, .item-list-box #headerBtn{
		right:calc(50% - 625px);
	}
}
div.itemtxt>p.item-name{
	margin-top: 8px;
	margin-bottom: 2px;
}
h4.item-price{
	margin-top: 10px;
	margin-bottom: 14px
}
.item-list-box .child .itemtxt span {
	font-size: 13px;
	color: #888585;
}


/**/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 100;
  bottom: -2px;
  border-radius: 30px 30px 0px 0px;
  border: 1px solid #ddd;
  background-color: white;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
.overlay::-webkit-scrollbar{
	display:none;
}

.closebtn {
  font-size: 25px;
  margin-right: 20px;
}

.overlay-content {
  position: relative;
  width: 100%;
  margin-top: 30px;
  flex-grow: 1;
}

.category-header.show {
  display: flex;
  opacity: 1;
}
.category-header button.closebtn:active{
	opacity: #aaa;
}
.category-header button.closebtn:hover{
	opacity: #ddd;
}
.category-header button.closebtn{
	border: none;
	border-radius: 50%;
	width:35px;
	height:35px;
	background-color:white;
}
.category-header.show.fix {
	position:fixed;
	top:80px;
}
.category-header {
  position:relative;
  width: 100%;
  height: 70px;
  display: none;
  opacity: 0;
  transition: 0.3s easy-in;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  border-radius: 20px 20px 0 0;
  border-bottom: 1px solid #ddd;
  background-color: white; 
  z-index: 999;
}

.category-header h3 {
  margin: 20px;
  font-size: 25px;
}

.categorymain {
  flex-grow: 1;
  min-height: 100px;
  overflow: auto;
  border-bottom: 1px solid #ddd;
}

.local,
.menue,
.price,
.filter,
.order-by {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

.local {
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}
.order-by {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  margin-bottom : 60px;
}

.menue {
  height: 500px;
  height: auto;
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
  display: flex;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  border-bottom: 1px solid #ddd;
}

.pricebutton button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #9c9898;
  color: #525151;
  margin: 5px;
}

.pricebutton {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.pricewrite {
  width: 100%;
  margin-top: -15px;
  font-size: 25px;
}

.pricewrite input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.categoryfooter.fix {
	position:fixed;
	bottom:0px;
}
.categoryfooter {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  background-color:white;
}

.categoryfooter .heze {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #ddd;
  font-size: 15px;
  color: #525151;
}

.categoryfooter .application {
  width: 60%;
  height: 40px;
  border-radius: 4px;
  margin-left: 5px;
  font-size: 15px;
  color: white;
}

.gakuck {
  width: 100%;
  text-align: start;
}

.btn-action-filter{
  width: 100px;
  height: 40px;
  border-radius: 30px;
  border: none;
  display:none;
  background: #5fcc29;
}

.btn-action-filter:hover {
  opacity: 0.7;
}

.btn-action-filter:active {
  opacity: 0.5;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  flex:1;
  min-width: 210px;
  max-width: 210px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container input:checked ~ .checkmark {
  background: #5fcc29;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}
.container:hover input ~ .checkmark {
	background-color: #5FCC29;
	opacity: 0.7;
}
.container:active input ~ .checkmark {
	background-color: #5FCC29;
	opacity: 0.5;
}
.container input:checked ~ .checkmark {
	background-color: #2cd319;
}
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.categoryfooter {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryfooter .heze {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #ddd;
  font-size: 15px;
  color: #525151;
}
.categoryfooter .application:active {
	opacity: 0.5;
}
.categoryfooter .application:hover {
	opacity: 0.7;
}
.categoryfooter .application {
  width: 60%;
  height: 40px;
  border-radius: 8px;
  margin-left: 5px;
  font-size: 15px;
  color: white;
  border:none;
  background-color: #5FCC29;
}
.title {
  width: 100%;
}