@charset "UTF-8";

.meet-user-list-box  {
	width: 100%;
	display: flex;
	justify-content: center;
}

.meet-user-list-box .memberlist {
	width: 80%;
	border: 1px solid #ddd;
	border-radius: 10px;
}

.meet-user-list-box .meet-img-box {
	width:80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50%;
}
.meet-user-list-box .meet-img-box img {
	width:80px;
	height: 80px;
	object-fit:cover;
}
.meet-user-list-box .mtlogo button{
	border: none;
	background: none;
	width:100%;
	text-align: left;
	padding-left: 20px;
	border-radius: 50%;
}
.meet-user-list-box .mtlogo {
	width: 100%;
	height: 200px;
	background-color: rgb(202, 249, 131);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px 10px 0px 0px;
}

.meet-user-list-box .mtlogo input {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.meet-user-list-box .members {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	justify-content: flex-start;
}

.meet-user-list-box .mbprofile {
	height: 90px;
	margin: 4px;
	min-width: 330px;
	flex:1;
	display: flex;
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 10px;
}

.meet-user-list-box .m img {
	width: 60px;
	height: 60px;
	object-fit: cover;	
}
.meet-user-list-box .img-box {
	width: 150px;
	height: 60px;
	overflow: hidden;
	border-radius:50%;
}
.meet-user-list-box .m {
	width: 100%;
	height: 60px;
	display: flex;
	padding: 0 10px;
	justify-content:space-between;
}

.meet-user-list-box .mname {
	width: 100%;
	margin-left: 5px;
	display: flex;
	align-items: center;
}

.meet-user-list-box .mname p {
	line-height: normal;
	font-size: 20px;
	margin-left: 5px;
}

.meet-user-list-box span {
	font-size: 15px;
	color: #ddd;
	margin-left: 2px;
}

.meet-user-list-box .ondo {
	width: 100%; /* 너비 조정 */
	height: 50px;
	font-size: 16px;
	display: flex;
	margin-top: 10px;
}

.meet-user-list-box table, tr, td {
	text-align: center;
	border: 1px solid #ddd;
	margin: auto;
}

.meet-user-list-box .ondos {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	text-align: center;
}

.meet-user-list-box .empticon {
	width: 30%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.meet-user-list-box progress {
	width: 70px;
	height: 15px;
}



.user-profile-container {
	width: 525px;
	height: 90px;
	display: flex;
	align-items: center;
}

.user-profile-inner-container {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-profile-section1 {
	display: flex;
	align-items: center;
	gap: 10px;
	flex: 1;
	margin-top: 0px;
	margin-left:5px;
}

.user-profile-section1 img {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.user-profile-text-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user-profile-nickname {
	font-weight: bold;
	font-size: 20px;
	margin: 0;
}

.user-profile-dong {
	font-size: 16px;
}

.user-profile-section2 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex: 0 0 auto;
	margin-top: 0px;
}

.user-profile-inner-section {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.user-profile-inner-box1 {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-right: 6px;
}

.user-profile-deg {
	font-size: 20px;
	font-weight: bold;
	color: orange;
}

.user-profile-emoji {
	font-size: 22px;
}

.user-profile-inner-box2 progress {
	width: 60px;
	height: 8px;
	appearance: none;
	margin: 4px 0;
	margin-right: 12px;
}

progress::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 4px;
}

progress::-webkit-progress-value {
	background-color: orange;
	border-radius: 4px;
}

.ondo-label {
	font-size: 14px;
	color: gray;
	margin: 0;
	margin-right: 5px;
}

div.dir-history{
	margin-bottom: 15px;
	margin-left: 5px;
}