@charset "UTF-8";

.swiper{
	position: relative;
}

div.swiper-slide {
    display: flex;
    justify-content: center; 
    align-items: center;
}

div.swiper-slide img {
    width: auto; 
    max-width: 100%; 
    max-height: 500px; 
    object-fit: contain;
}

div.swiper-button-prev,
div.swiper-button-next{
	color: yellowgreen;
}
