@charset "UTF-8";

.user-mypage-box {
	width: 100%;
	display: flex;
	justify-content: center;
}

.user-mypage-box .user-img {
	width:100px;
	height:100px;
	border-radius: 50%;
	overflow: hidden;
}
.user-mypage-box .user-img img{
	width:100px;
	height:100px;
	object-fit: cover;
}
.user-mypage-box .mypag {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 10px 10px 0px 0px;
}
.user-mypage-box .user-calendar .container .btn-cal-box{
	width: 100%;
	display:flex;
	justify-content: space-between;
	margin: 20px 0;
}
.user-mypage-box .user-calendar .container .btn-cal-sub{
	border:none;
	width:130px;
	font-size:18px;
	padding:10px;
	color:white;
	background-color:#5FCC29;
	border-radius:10px; 
}
.user-mypage-box .user-calendar .container .btn-cal-sub:hover{
	opacity: 0.7;
}
.user-mypage-box .user-calendar .container .btn-cal-sub:active{
	opacity: 0.5;
}
body footer{
	margin: 0;
	display: flex;
}

.user-mypage-box .myprofil {
	width: 100%;
	height: 200px;
	background-color: #d9f0d0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px 10px 0px 0px;
}

.user-mypage-box .menu .category{
	width: 200px;
}
.user-mypage-box .menu {
	width: 100%;
	height: 100%;
	display: flex;
}

.user-mypage-box .cartegory {
	border: 1px solid #ccc;
}

.user-mypage-box .btn-inner-box {
	display: flex;
}

/* Style the buttons inside the tab */
.user-mypage-box .cartegory button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 12px 15px;
	width: 200px;
	height: 50px;
	border: none;
	text-align: start;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	font-size: 15px;
}

.user-mypage-box .cartegory button:hover {
	background-color: #d9f0d0;
}

.user-mypage-box .cartegory button:active {
	background-color: #c7f5e0;
}

.user-mypage-box .tabcontent {
	width: 100%;
}

.user-mypage-box .myprofil input {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.user-mypage-box .friend {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.user-mypage-box .temperature {
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.user-mypage-box .friends {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-mypage-box progress {
	accent-color: rgb(34, 233, 147);
	height: 25px;
}

.user-mypage-box .import {
	width: 98%;
	height: 100%;
	margin-left: 10px;
}

.user-mypage-box .menulist {
	width: 100%;
	height: 100%;
}

.user-mypage-box .menulistbtn {
	width: 100%;
	display: flex;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.user-mypage-box .menulistbtn button {
	width: 100%;
	height: 50px;
	background-color: white;
	border: none;
}

.user-mypage-box .menulistbtn button:hover {
	background-color: #d9f0d0;
}

.user-mypage-box .cartegorymenue {
	width: 100%;
	height: calc(100% - 50px);
	margin-top: -2px;
}

.user-mypage-box span{
	color: black;
	font-size:14px;
}

.user-mypage-box .container{
	width: 100%;
}

.user-mypage-box .menu-box {
	width: 30px;
	text-align: center;
}

.user-mypage-box .cartegory span {
	margin-left: 5px;
}

.user-mypage-box .cartegorymenue #btn-more-list{
	width: 90%;
	margin-top: 30px;
	margin-left: 5%;
	height: 50px;
	font-size: 35px;
	background-color: #5FCC29;
	border: none;
	border-radius: 20px;
}
.user-mypage-box .cartegorymenue #btn-more-list:active {
	opacity: 0.5;
}
.user-mypage-box .cartegorymenue #btn-more-list:hover {
	opacity: 0.7;
}
.user-mypage-box #headerBtn{
	right: 15px;
	bottom: 30px;
	width: 50px;
	height: 50px;
	position: fixed;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: rgb(154, 150, 150);
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
	border-radius: 50%;
}
@media(min-width:1280px){
	section .user-mypage-box #headerBtn{
		right:calc(50% - 725px);
	}
}

.user-mypage-box #list-box{
	width:100%;
	padding: 0 10px;
}
.user-mypage-box .review-btn-box{
	display: flex;
	justify-content: center;
	align-items: center;
}
.user-mypage-box .btn-reviewing:active{
	opacity: 0.5;
}
.user-mypage-box .btn-reviewing:hover{
	opacity: 0.7;
}

.user-mypage-box .btn-reviewing{
	width:90%;
	height: 50px;
	border-radius:10px;
	background-color: #5FCC29;
	color:#fff;
	border: none;
	font-size: 18px;
	margin: 5px 0;
	margin-top: -50px;
	margin-bottom:60px;
}
.user-mypage-box .btn-reviewed{
	margin: 5px 0;
	width:90%;
	height: 50px;
	border-radius:10px;
	background-color: #ddd;
	font-size: 18px;
	border: none;
	cursor: default;
	margin-top: -50px;
	margin-bottom:60px;
}
.user-mypage-box .bought-box>.child{
	width:100%;
	border:none;
	
}
.user-mypage-box .bought-box{
	flex:1;
	min-width: 200px;
	border-radius:15px;
}
.user-mypage-box .review-user-img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}
.user-mypage-box .review-user-img img{
	width: 50px;
	height: 50px;
	object-fit:cover;
}
.user-mypage-box .review-item-img{
	width: 70px;
	height: 70px;
	overflow: hidden;
	margin:0 10px;
}
.user-mypage-box .review-item-img img{
	width: 70px;
	height: 70px;
	object-fit:cover;
}
.user-mypage-box .review-content{
	width: 100%;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.user-mypage-box .review-table{
	width: calc(100% - 70px);
}
.user-mypage-box .review-content-box{
	font-size: 15px;
	margin-left: 9px;
	
}
.user-mypage-box .review-hr{
	margin: 5px;
	width: 98%;
	border:1px solid #ddd;
}

.user-profile-container {
	width: 100%;
	height: 90px;
	display: flex;
	align-items: center;
}

.user-profile-inner-container {
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	padding: 0 20px;
}

.user-profile-section1 {
	display: flex;
	align-items: center;
	gap: 10px;
	flex: 1;
	margin-top: 0px;
}

.user-profile-section1 img {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.user-profile-text-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user-profile-nickname {
	font-weight: bold;
	font-size: 20px;
	margin: 0;
}

.user-profile-dong {
	font-size: 16px;
}

.user-profile-section2 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex: 0 0 auto;
	margin-top: 0px;
}

.user-profile-inner-section {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
#headerBtn:hover{
	opacity: 0.7;
}
#headerBtn:active{
	opacity: 0.5;
}

.user-profile-inner-box1 {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-right: 6px;
}

.user-profile-deg {
	font-size: 20px;
	font-weight: bold;
	color: orange;
}

.user-profile-emoji {
	font-size: 22px;
}

.user-profile-inner-box2 progress {
	width: 60px;
	height: 8px;
	appearance: none;
	margin: 4px 0;
	margin-right: 12px;
}

progress::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 4px;
}

progress::-webkit-progress-value {
	background-color: orange;
	border-radius: 4px;
}

.ondo-label {
	font-size: 14px;
	color: gray;
	margin: 0;
	margin-right: 5px;
}
section>div.dir-history>div:nth-child(2){
	text-align: right;
}
section>div.dir-history>div{
	flex:1;
}
section>div.dir-history{
	margin:0;
	width:100%;
	display: flex;
	align-items: center;
}
.dir-history>div>span, .dir-history>div>a{
	color:#999;
}
.dir-history>div>button{
	border:none;
	background-color: #5FCC29;
	color:#fff;
	padding: 10px 20px;
	border-radius: 10px;
	margin-bottom:10px;
}

.dir-history>div>button:hover{
	opacity: 0.7;
}
.dir-history>div>button:active{
	opacity: 0.5;
}
.user-mypage-box .mypag .user-profile-container a{
	color:black;
}
section .dir-history a, section .dir-history span{
	font-size:15px;
	padding: 10px 0;
}
.letter-list-box #btn-more-list>i{
	margin: 0;
}
.letter-list-box #list-box .mail:hover{
	background-color: #b8ec9f;
	color:black;
}
.letter-list-box #list-box .mail button{
	background: none;
}