@charset "UTF-8";

body {
	margin: 0;
	height: 100vh;
}

main {
	width: 100%;
	height: 1100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.insert {
	width: 600px;
	border: 1px solid #b4b1b1;
	padding:40px;
}

.insert-check {
	width: 100%;
}

.insert-txt {
	width: 100%;
	height: 100px;
}

.insert input {
	width: 200px;
	margin: 10px;
	padding: 5px 15px;
	margin-left: 30px;
	border-radius: 10px;
}

#cars {
	width: 200px;
}


input {
	width: 300px;
	height: 34px;
	border-radius: 5px;
	border: 1.5px solid black;
	margin-top: 16px;
}
header input {
	margin-top: 2px !important;
}

.insert span {
	font-size: 13px;
	margin-left: 90px;
	color: crimson;
}

.insert input[readonly]{
	background-color: #888 !important; 
	cursor: default !important;
	border: none !important;
}

#user_id {
	width: 200px;
	margin-left: 25px;
}

#user_pw {
	width: 200px;
	margin-left: 12px;
}

#user_name {
	width: 200px;
	margin-left: 39px;
}

#user_age {
	width: 200px;
	margin-left: 39px;
}

#user_email {
	width: 200px;
	margin-left: 29px;
}
.insert-check form input:nth-child(6){
	margin-left:100px;
}

#user_nickname {
	width: 200px;
	margin-left: 24px;
}

#user_phone {
	width: 80px;
	margin-left: 10px;
}

#user_address {
	margin-left: 39px;
}

select#user_phone {
	width:80px;
}
select {
	width: 130px;
	height: 34px;
	border-radius: 10px;
	border: 1.5px solid black;
}
select#user_email {
	width: 120px;
}

#user_img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.insert-buttons {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: end;
	align-items: end;
}

.insert-buttons>p {
	padding: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 1000;
	color: #a3a1a1;
}

#id-btn, #img-btn, #btn_user_address {
	width: 80px;
	height: 30px;
	color: white;
	background-color: rgb(73, 72, 72);
	border: none;
	border-radius: 5px;
}

#insert-btn {
	width: 40px;
	height: 40px;
	background-color: #5FCC29;
	border-radius: 50%;
	margin-right: 35px;
	margin-bottom: 15px;
	border: none;
	color: white;
}

#id-btn:hover {
	opacity: 0.7;
}
#id-btn:active {
	opacity: 0.5;
}
#insert-btn:hover {
	opacity: 0.7;
}
#insert-btn:active {
	opacity: 0.5;
}

label {
	margin-left: 10px;
}

b {
	color: red;
}

abbr {
	text-align: center;
}

.ab {
	margin-left: 13px;
}
#img-btn:hover {
	opacity: 0.7;
}
#img-btn:active {
	opacity: 0.5;
}
#btn_user_address:hover {
	opacity: 0.7;
}
#btn_user_address:active {
	opacity: 0.5;
}


#post-list{
	border-radius:50%;
	width:150px;
	height:150px;
	overflow: hidden;
	border:1px solid black;
	margin-left:20px;
}
#post-list img{
	width:150px;
	height:150px;
	overflow: hidden;
	object-fit:cover;
}

#img-btn {
	width:100px;
}

.img-box {
	display:flex;
	align-items:center;
	gap: 10px;
}
.insert-check form input:nth-child(24)#user_email,
.insert-check form input:nth-child(25)#user_email{
	float:right;
	width:170px;
	margin-right:20px;
}
.insert-check form input#user_nickname{
	margin-top:60px;
}
