<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.radish.mybatis.cartMapper">

	<insert id="cartInsert" parameterType="Cart">
		INSERT INTO carts(item_no, user_no, check_reviewed)
		VALUES(#{item_no}, #{user_no} , 0)
	</insert>
	
	<select id="getCartList" parameterType="int" resultType="Cart">
		SELECT *
		FROM carts
		WHERE user_no=#{user_no}
	</select>
	
	<update id="setCheckReviewed" parameterType="Cart">
		UPDATE carts
		SET check_reviewed = 1
		WHERE item_no=#{item_no} AND user_no=#{user_no}
	</update>
	
	<select id="getBuyItemNoList" parameterType="int" resultType="int">
		SELECT item_no
		FROM carts
		WHERE user_no=#{user_no}
	</select>
	
	<select id="getUserCartList" parameterType="int" resultType="Cart">
		SELECT *
		FROM carts
		WHERE user_no=#{user_no}
	</select>
	
</mapper>