<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.radish.mybatis.emojiMapper">
	
	<select id="getEmoji" parameterType="int" resultType="String">
		SELECT emoji 
		FROM emojis 
		WHERE min_deg <![CDATA[<=]]> #{user_deg} AND max_deg <![CDATA[>=]]> #{user_deg}
	</select>

</mapper>