<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.radish.mybatis.itemImgMapper">

	<insert id="insertItemImg" parameterType="ItemImg">
		INSERT INTO item_img (item_no, item_img)
		VALUES (#{item_no}, #{item_img})
	</insert>
	
	<select id="getItemImgListByItemList" parameterType="int" resultType="String">
		SELECT item_img
		FROM item_img
		WHERE item_no=${item_no}
		LIMIT 1
	</select>
	
	<select id="getAllItemImgList" parameterType="int" resultType="String">
		SELECT item_img 
		FROM item_img 
		WHERE item_no=#{item_no}
	</select>
	
	<delete id="deleteItemImg" parameterType="int">
		DELETE FROM item_img
		WHERE item_no=#{item_no}
	</delete>
	
</mapper>