<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.radish.mybatis.itemMapper">

	<select id="getTotalItemCnt" resultType="int">
		SELECT count(*) 
		FROM items;
	</select>
	
	<select id="getLimitItemListByLimitWithOffset" parameterType="Map" resultType="Item">
		SELECT * 
		FROM items 
		ORDER BY item_update_datetime DESC
		LIMIT #{limit} OFFSET #{offset};
	</select>
	
	<select id="getAItemByItemNo" parameterType="int" resultType="Item">
		SELECT * 
		FROM items 
		WHERE item_no=#{item_no}
	</select>
	
	<select id="getItemHits" parameterType="int" resultType="int">
		SELECT item_hits
		FROM items
		WHERE item_no=#{item_no}
	</select>
	
	<update id="itemHitsUp" parameterType="int">
		UPDATE items
		SET item_hits=#{item_hits}
		WHERE item_no=#{item_no}
	</update>
	
	<select id="getItemInfoList" parameterType="int" resultType="Item">
		SELECT *
		FROM items
		WHERE user_no=#{user_no} AND item_status=1
		LIMIT 6 OFFSET 0;
	</select>
	
	<select id="getSellListSize" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM items
		WHERE user_no=#{user_no} AND item_status=1
		LIMIT 101 OFFSET 0;
	</select>
	
	<select id="getReserveListSize" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM items
		WHERE user_no=#{user_no} AND item_status=2
		LIMIT 101 OFFSET 0;
	</select>
	
	<select id="getSoldListSize" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM items
		WHERE user_no=#{user_no} AND item_status=3
		LIMIT 101 OFFSET 0;
	</select>
	
	<select id="getHotItemInfoList" resultType="Item">
		SELECT *
		FROM items
		ORDER BY item_hits DESC
		LIMIT 18 OFFSET 0;
	</select>
	
	<insert id="insertItem" parameterType="Item">
		INSERT INTO items (user_no, item_category_no, item_name, item_content, item_price, item_reg_datetime, item_update_datetime, item_status, item_hits)
		VALUES(#{user_no}, #{item_category_no}, #{item_name}, #{item_content}, #{item_price}, #{item_reg_datetime}, #{item_update_datetime}, #{item_status}, #{item_hits})
	</insert>
	
	<delete id="deleteAItem" parameterType="int">
		DELETE FROM items
		WHERE item_no=#{item_no}
	</delete>	
	
	<update id="updateItem" parameterType="Item">
		UPDATE items
		SET item_name=#{item_name}, item_category_no=#{item_category_no}, item_content=#{item_content}, item_price=#{item_price}, item_update_datetime=#{item_update_datetime}, item_status=#{item_status}
		WHERE item_no=#{item_no}
	</update>
	
	<select id="checkInfoItemSize" parameterType="int" resultType="int">
		SELECT count(*)
		FROM items
		WHERE user_no=#{user_no}
		LIMIT 7 OFFSET 0;
	</select>
	
	<select id="checkInfoHotItemSize" parameterType="int" resultType="int">
		SELECT count(*)
		FROM items
		WHERE user_no=#{user_no}
		LIMIT 19 OFFSET 0;
	</select>
	
	<select id="getAUserAllZzimItemList" parameterType="int" resultType="Item">
		SELECT *
		FROM items
		WHERE item_no=#{item_no}
	</select>
	
	<select id="getLastItemNo"  resultType="int">
		SELECT item_no
		FROM items
		ORDER BY item_no DESC
		LIMIT 1
	</select>
	
	<select id="getAllSellList" parameterType="int" resultType="Item">
		SELECT *
		FROM items
		WHERE user_no=#{user_no} AND item_status=1
	</select>
	
	<select id="getAllReserveItemList" parameterType="int" resultType="Item">
		SELECT *
		FROM items
		WHERE user_no=#{user_no} AND item_status=2
	</select>
	
	<select id="getAllSoldList" parameterType="int" resultType="Item">
		SELECT *
		FROM items
		WHERE user_no=#{user_no} AND item_status=3
	</select>
	
</mapper>