<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.radish.mybatis.letterMapper">

	<insert id="insertALetter" parameterType="Letter">
		INSERT INTO letters
		(receive_user_no, send_user_no, item_no, letter_content, letter_title, letter_reg_datetime, letter_check)
		VALUES (#{receive_user_no}, #{send_user_no}, #{item_no},
		#{letter_content},#{letter_title}, #{letter_reg_datetime}, #{letter_check})
	</insert>

	<select id="getLetterListByUserNo" parameterType="int"
		resultType="Letter">
		SELECT *
		FROM letters
		WHERE
		receive_user_no=#{receive_user_no}
		ORDER BY letter_no DESC
	</select>

	<delete id="deleteALetterByLetterNo" parameterType="int">
		DELETE FROM
		letters
		WHERE letter_no=#{letter_no}
	</delete>
	
	<select id="getALetter" parameterType="int" resultType="Letter">
		SELECT *
		FROM letters
		WHERE letter_no=#{letter_no}
	</select>

	<update id="setCheck" parameterType="int">
		UPDATE letters
		SET letter_check=1
		WHERE letter_no=#{letter_no}
	</update>

</mapper>